<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
<link rel="stylesheet" href="__BLOG__/css/reset.css">
<link rel="stylesheet" href="__BLOG__/css/index.css">
<link rel="stylesheet" href="__BLOG__/css/art.css">
<style>
form {
width:30%;
margin:0 auto;
}
</style>
</head>
<body>
    <include file="Manage/header" />
    <div id="main">
        <div id="respond" class="comment-respond">
            <form action="#" method="post">
                <p><input placeholder="用户名" name="username" type="text" value="" size="30"></p>
                <p><input placeholder="密&nbsp;&nbsp;&nbsp;码" name="password" type="text" value="" size="30"></p>
                <p><img src='__CONTROLLER__/code' onclick="this.src='__CONTROLLER__/code'" style="margin-bottom:10px;" /></p>
                <p><input placeholder="验证码" name="code" type="text" value="" size="30"></p>
                <p><input type="submit" value="登陆"></p>
            </form>
        </div>
    </div>
    <include file='footer' />
</body>
</html>
