<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加栏目</title>
<link rel="stylesheet" href="__BLOG__/css/reset.css">
<link rel="stylesheet" href="__BLOG__/css/adm.css">
</head>
<body>
    <include file="header" />
    <div id="main">
        <include file="lside" />
        <div id="rside">
            <form action="" method="post">
                <div class="form-group">
                    <label>栏目名称:</label>
                    <p>
                        <input type="text" name="catname">
                    </p>
                </div>
                <div class="form-group">
                    <label>&nbsp;</label>
                    <p>
                        <button type="submit">提交</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <include file="Public/footer" />
</body>
</html>
